*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --background: #000;
    --bg-button: #ff0;
    --effect-button:#f0f;
    --text: #fff;
    --text-button: #f0f;
}

body {
    background: var(--background);
    color: var(--text);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-flow: column;
}

a {
    position: relative;
    width: 10rem;
    height: 4rem;
    margin: 1rem 0.75rem;
    background: #222;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    overflow: hidden;
}

a::before,
a::after {
    content: '';
    position: absolute;
    top:0;
    width: 4px;
    height: 100%;
    background: coral;
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}
a::before {
    left: 0;
}

a::after {
    right: 0;
}

a:nth-child(2)::before,
a:nth-child(2)::after {
    background: chartreuse;
}

a:hover::before,
a:hover::after {
    width: 50%;
    transition-delay: 0s;
}

a span {
    position: absolute;
    z-index: 1;
    font-size: 1.2rem;
    transition: 0.5s;
}

a span:nth-child(1) {
    transition-delay: 0.75s;

}

a:hover span:nth-child(1) {
    transform: scale(0);
    transition-delay: 0s;
}

a span:nth-child(2) {
    transform: scale(3);
    opacity: 0;
    color: #222;
    transition-delay: 0s;
}

a:hover span:nth-child(2) {
    transform: scale(1);
    transition-delay: 0.45s;
    opacity: 1;
    z-index: 10;
}